.navbar {
    background-color: #072041;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h2 {
    font-size: 25px;
    margin-left: 10px;
    color: #acd5f3;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.nav-links a:hover {
    color: #0077cc;
}





.success-page {
    background-color: #f3f8fc;
    font-family: Arial, sans-serif;
}

.success-container {
    max-width: 600px;
    margin: 60px auto;
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    text-align: center;
    border-top: 6px solid #28a745;
}

.success-icon {
    font-size: 60px;
    color: #28a745;
    margin-bottom: 20px;
}

.success-container h1 {
    color: #002346;
    margin-bottom: 10px;
}

.pnr-box {
    background: #eef6fb;
    padding: 20px;
    border-radius: 8px;
    margin: 25px 0;
    border: 1px dashed #0077cc;
}

.pnr-box p {
    margin: 0 0 5px 0;
    color: #555;
    font-size: 14px;
}

.pnr-box h2 {
    margin: 0;
    color: #0077cc;
    font-size: 28px;
    letter-spacing: 2px;
}

.email-notice {
    color: #666;
    margin-bottom: 30px;
}

.success-actions {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn-download {
    background: #002346;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.btn-home {
    background: #0077cc;
    color: white;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 6px;
    font-weight: bold;
}
